html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #8b9dc3;
}

blockquote {
  border-left-style: solid;
  border-left-width: 2px;
  border-color: #8b9dc3;
  padding-left: 2rem;
  margin-left: 0;
}
